@import "@fortawesome/fontawesome-free/css/all.min.css";
@import "bootstrap";

main {
    min-height: 100vh;
    padding-top: 5rem;
    padding-bottom: 5rem;
    background: rgb(218, 219, 211);
    background: linear-gradient(180deg, rgba(218, 219, 211, 1) 0%, rgba(14, 147, 159, 1) 50%);
}

.card {
    background-color: lightcyan;
    text-align: left;
    height: 100%;

}

h3 {
    font-size: 2rem;
}


h4 {
    font-size: 1.3rem;
    padding-bottom: 1rem;
}

.card-body {
    display: flex;
    flex-direction: column;
}
